<!DOCTYPE html>
<html>
<head>

<title>About Project</title>

<style>

body{

    background:black;
    color:white;
    font-family:Arial;
    padding:40px;

}

.main{

    max-width:900px;
    margin:auto;
    border:3px solid cyan;
    border-radius:20px;
    padding:30px;
    box-shadow:0px 0px 25px cyan;

}

h1{

    text-align:center;
    color:cyan;
    font-size:50px;
    margin-bottom:30px;

}

p{

    font-size:22px;
    line-height:40px;

}

.highlight{

    color:magenta;
    font-weight:bold;

}

</style>

</head>

<body>

<div class="main">

<h1>ABOUT PROJECT</h1>

<p>

This website is created by 
<span class="highlight">
Bhagyashree
</span>

using HTML, CSS, JavaScript, Python and Django framework.

<br><br>

This project contains:

<br><br>

✔ Home Page  
<br>
✔ Login Page  
<br>
✔ Register Page  
<br>
✔ Gallery Page  
<br>
✔ FAQ Page  
<br>
✔ Contact Page  
<br>
✔ Professional Calculator  
<br>
✔ CGPA Calculator  
<br>
✔ Student Logbook  

<br><br>

This project is created for internship practice and web development learning.

<br><br>

The website is fully responsive and works on both mobile and laptop.

</p>

</div>

</body>
</html>
